<header class="ae-container-fluid ae-container-fluid--full rk-header ">
    <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
    <label for="mobile-menu">
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
  </label>
    <div class="ae-container-fluid rk-topbar">
        <h1 class="rk-logo"><a href="index.html">Nearshore Code</a></h1>
        <nav class="rk-navigation">
            <ul class="rk-menu">
            </ul>
            <form class="rk-search">
                <input type="text" placeholder="Search" id="urku-search" class="rk-search-field">
                <label for="urku-search">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-search"></use>
          </svg>
        </label>
            </form>
        </nav>
    </div>
</header>
<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio rk-main">
    <app-registration></app-registration>
</section>
<footer class="ae-container-fluid rk-footer ">
    <router-outlet></router-outlet>
    <div class="ae-grid ae-grid--collapse">

        <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
            <p class="rk-footer__text rk-footer__contact "> <span class="ae-u-bold">Email: </span><span class="ae-u-bolder"> <a href="#0" class="rk-dark-color ">careers@nearshorecode.com</a></span></p>
        </div>
    </div>
</footer>